

.rettangolo{
    height: 20px;
    width: 100%;
    background-color: rgb(33, 78, 226);
}

.navbar{
    padding: 2rem;
}


.logo{
    width: 50px;
    
}

ul{
    list-style-type: none;

    li{
        margin-right: 10px;
    }
}

a{
    text-decoration: none;
    color: black;
}

.jumbotron{
    height: 300px;
    width: 100%;
    object-fit: cover;
    
}

