.rettangolo-blu{
    text-align: center;
    background-color: rgb(33, 78, 226);
    padding: 2rem;
}

p{
    font-size: 10px;
}

ul{
    list-style-type: none;
    
    
   

    li{
        margin-right: 10px;
        align-items: center;
        margin-right: 20px;

        p{
            color: white;
        }

        img{
            height: 80px;
            margin-right: 10px;
        }
    }

}